*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 16px;
  font-family: monospace;

  /* Colors */
  --Black: #25272c;
  --White: #fafafa;
}

body {
  color: var(--White);
  background-color: var(--White);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #232830;
  margin: 0;
  padding: 45px 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.left {
  align-items: end;
}

.right {
  align-items: start;
  justify-content: space-between;
}

.boards-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.board {
  display: grid;
  grid-template: repeat(11, 30px) / repeat(11, 30px);
}

.column,
.row {
  align-self: center;
}

.column {
  justify-self: center;
}

.row {
  justify-self: end;
  padding-right: 8px;
}

.gameboard-container.small .board {
  grid-template: repeat(10, 20px) / repeat(10, 20px);
}

.gameboard-container.small .board .column,
.gameboard-container.small .board .row,
.gameboard-container.small .board .offset {
  display: none;
}

.cells {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: repeat(10, auto) / repeat(10, auto);
  gap: 1px;
}

.gameboard-container.small .board .cells {
  grid-area: 1 / 1 / -1 / -1;
}

.cell {
  background-color: white;
}

.cell.hit {
  background-color: #a1a1a1;
}

.cell.ship {
  background-color: #4c4cc5;
}

.cell.ship.hit {
  background-color: #e43e3e;
}

.cell.ship.sunk {
  background-color: #363636;
}

.info-container {
  display: flex;
  gap: 16px;
}

button {
  background-color: rgb(29, 158, 104);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

button.hidden {
  display: none;
}

.timer {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}
