*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 16px;
  font-family: monospace;

  /* Colors */
  --Black: #25272c;
  --White: #fafafa;
}

body {
  color: var(--Black);
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* Template tweaks (Delete later) */
body {
  background-color: #232830;
}

.board {
  display: grid;
  grid-template: repeat(11, 30px) / repeat(11, 30px);
}

.column,
.row {
  color: white;
  align-self: center;
}

.column {
  justify-self: center;
}

.row {
  justify-self: end;
  padding-right: 8px;
}

.cells {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: repeat(10, auto) / repeat(10, auto);
  gap: 1px;
}

.cell {
  background-color: white;
}

.cell.selected {
  background-color: gray;
}
